/* src/components/Login.css */
.login-form {
    display: flex;
    align-items: center;
  }
  
  .login-input {
    width: 200px; /* Breite der Eingabefelder */
    padding: 10px;
    margin-right: 10px; /* Abstand zwischen den Eingabefeldern und dem Button */
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .login-button, .logout-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-name {
    margin-right: 10px; /* Abstand zwischen dem Namen und dem Logout-Button */
    font-size: 1.5rem;
  }
  